In [1]:
# Standard package imports

# Data anaysis
import pandas as pd
import numpy as np

# Plotting and Correlation Maths
import seaborn as sns
import scipy as sci

# Simple model development
import sklearn as sk

import os

In [2]:
weather_df_allegheny = pd.read_csv('/Users/hunterberberich/Desktop/Data/Allegheny County.csv')

In [3]:
print(weather_df_allegheny.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2678 entries, 0 to 2677
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2678 non-null   object
 1   datetime          2678 non-null   object
 2   tempmax           2678 non-null   float64
 3   tempmin           2678 non-null   float64
 4   temp              2678 non-null   float64
 5   feelslikemax      2678 non-null   float64
 6   feelslikemin      2678 non-null   float64
 7   feelslike         2678 non-null   float64
 8   dew               2678 non-null   float64
 9   humidity          2678 non-null   float64
 10  precip            2678 non-null   float64
 11  precipprob        2678 non-null   int64
 12  precipcover       2678 non-null   float64
 13  preciptype        1648 non-null   object
 14  snow              2678 non-null   float64
 15  snowdepth         2678 non-null   float64
 16  windgust          2678 non-null   float64
 17  windspeed         2678 non-null   float64
 18  winddir           2678 non-null   float64
 19  sealevelpressure  2678 non-null   float64
 20  cloudcover        2678 non-null   float64
 21  visibility        2678 non-null   float64
 22  solarradiation    2678 non-null   float64
 23  solarenergy       2678 non-null   float64
 24  uvindex           2678 non-null   int64
 25  severerisk        843 non-null    float64
 26  sunrise           2678 non-null   object
 27  sunset            2678 non-null   object
 28  moonphase         2678 non-null   float64
 29  conditions        2678 non-null   object
 30  description       2678 non-null   object
 31  icon              2678 non-null   object
 32  stations          2678 non-null   object
dtypes: float64(22), int64(2), object(9)
memory usage: 690.6+ KB
None

In [4]:
print(weather_df_allegheny.describe())

           tempmax      tempmin         temp  feelslikemax  feelslikemin  \
count  2678.000000  2678.000000  2678.000000   2678.000000   2678.000000
mean     61.264787    44.997125    52.911875     60.119828     41.265534
std      18.413584    16.774329    17.246091     20.840241     20.475064
min       8.200000    -5.100000     2.100000     -8.600000    -30.400000
25%      46.500000    31.600000    38.900000     42.900000     24.600000
50%      63.200000    45.400000    53.900000     63.200000     41.950000
75%      77.600000    60.475000    68.700000     77.600000     60.475000
max      93.700000    75.500000    83.300000    100.600000     75.500000

         feelslike          dew     humidity       precip   precipprob  ...  \
count  2678.000000  2678.000000  2678.000000  2678.000000  2678.000000  ...
mean     50.457506    41.792532    68.682450     0.122696    54.294249  ...
std      20.340899    17.727614    13.299889     0.273889    49.824556  ...
min     -16.500000   -10.800000    24.700000     0.000000     0.000000  ...
25%      34.100000    27.625000    59.700000     0.000000     0.000000  ...
50%      53.200000    42.300000    69.600000     0.003000   100.000000  ...
75%      68.700000    57.975000    78.300000     0.105750   100.000000  ...
max      87.200000    74.500000    99.200000     3.922000   100.000000  ...

         windspeed      winddir  sealevelpressure   cloudcover   visibility  \
count  2678.000000  2678.000000       2678.000000  2678.000000  2678.000000
mean     12.731889   212.700560       1017.599552    54.781740     8.912211
std       4.562395    85.427759          6.650963    29.013607     1.339226
min       4.100000     0.000000        992.500000     0.000000     1.100000
25%       9.300000   162.325000       1013.400000    29.800000     8.500000
50%      12.200000   222.650000       1017.400000    55.250000     9.500000
75%      15.500000   276.275000       1021.800000    80.475000     9.900000
max      34.800000   359.900000       1042.000000   100.000000     9.900000

       solarradiation  solarenergy      uvindex  severerisk    moonphase
count     2678.000000  2678.000000  2678.000000  843.000000  2678.000000
mean       125.280358    10.809858     4.795370   14.827995     0.483342
std         79.305213     6.849332     2.471342   14.298733     0.288079
min          5.800000     0.500000     0.000000   10.000000     0.000000
25%         59.050000     5.100000     3.000000   10.000000     0.250000
50%        110.550000     9.500000     5.000000   10.000000     0.490000
75%        184.075000    15.900000     7.000000   10.000000     0.747500
max        345.400000    29.800000    10.000000  100.000000     0.980000

[8 rows x 24 columns]

In [5]:
print(weather_df_allegheny.isnull().sum())

name                   0
datetime               0
tempmax                0
tempmin                0
temp                   0
feelslikemax           0
feelslikemin           0
feelslike              0
dew                    0
humidity               0
precip                 0
precipprob             0
precipcover            0
preciptype          1030
snow                   0
snowdepth              0
windgust               0
windspeed              0
winddir                0
sealevelpressure       0
cloudcover             0
visibility             0
solarradiation         0
solarenergy            0
uvindex                0
severerisk          1835
sunrise                0
sunset                 0
moonphase              0
conditions             0
description            0
icon                   0
stations               0
dtype: int64

In [6]:
columns_to_remove = ['stations', 'sunrise', 'sunset','conditions', 'sealevelpressure','solarradiation','description', 'solarenergy', 'winddir', 'visibility', 'windspeed','windgust', 'precipprob']

In [7]:
weather_df_allegheny2 = weather_df_allegheny.drop(columns=columns_to_remove)

In [8]:
print(weather_df_allegheny2)

                  name    datetime  tempmax  tempmin  temp  feelslikemax  \
0     Allegheny County  2017-01-01     43.9     31.4  37.1          40.1
1     Allegheny County  2017-01-02     46.3     37.0  42.6          43.3
2     Allegheny County  2017-01-03     48.6     42.9  45.1          46.3
3     Allegheny County  2017-01-04     44.3     21.1  33.8          37.4
4     Allegheny County  2017-01-05     22.6     19.0  20.6          20.8
...                ...         ...      ...      ...   ...           ...
2673  Allegheny County  2024-04-27     79.1     53.0  65.3          79.1
2674  Allegheny County  2024-04-28     82.0     63.2  72.6          81.5
2675  Allegheny County  2024-04-29     82.9     62.6  74.1          82.1
2676  Allegheny County  2024-04-30     72.3     61.1  65.9          72.3
2677  Allegheny County  2024-05-01     79.9     53.7  67.5          79.9

      feelslikemin  feelslike   dew  humidity  precip  precipcover preciptype  \
0             29.0       33.2  28.3      71.1   0.025        12.50  rain,snow
1             33.2       38.4  38.9      87.1   0.095        29.17       rain
2             37.7       41.6  42.6      91.0   0.793        70.83       rain
3              8.0       23.6  23.4      67.4   0.052        29.17  rain,snow
4              7.0       11.2  11.5      68.4   0.056        25.00       snow
...            ...        ...   ...       ...     ...          ...        ...
2673          53.0       65.3  50.3      60.5   0.090        25.00       rain
2674          63.2       72.6  55.3      55.6   0.000         0.00       rain
2675          62.6       73.9  54.6      52.0   0.000         0.00       rain
2676          61.1       65.9  56.1      71.0   0.014         4.17       rain
2677          53.7       67.5  48.6      55.4   0.000         0.00        NaN

      snow  snowdepth  cloudcover  uvindex  severerisk  moonphase  \
0      0.0        0.2        41.7        4         NaN       0.12
1      0.0        0.0        87.9        1         NaN       0.16
2      0.0        0.0        78.7        0         NaN       0.19
3      0.0        0.0        73.0        4         NaN       0.23
4      0.2        0.0        83.5        3         NaN       0.25
...    ...        ...         ...      ...         ...        ...
2673   0.0        0.0        65.9        7        10.0       0.63
2674   0.0        0.0        47.9       10        10.0       0.67
2675   0.0        0.0        27.2        9        10.0       0.70
2676   0.0        0.0        68.1        6        10.0       0.74
2677   0.0        0.0        16.2        8        10.0       0.75

                   icon
0                  rain
1                  rain
2                  rain
3                  rain
4                  snow
...                 ...
2673               rain
2674  partly-cloudy-day
2675  partly-cloudy-day
2676               rain
2677          clear-day

[2678 rows x 20 columns]

In [9]:
weather_df_allegheny2['preciptype'] = weather_df_allegheny2['preciptype'].fillna('none')

In [10]:
weather_df_allegheny2['severerisk'] = weather_df_allegheny2['severerisk'].fillna(0)
print(weather_df_allegheny2['severerisk'])

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
2673    10.0
2674    10.0
2675    10.0
2676    10.0
2677    10.0
Name: severerisk, Length: 2678, dtype: float64

In [11]:
weather_df_allegheny2['icon'] = weather_df_allegheny2['icon'].str.replace('-day', '', regex=False)


unique_values = weather_df_allegheny2['icon'].unique().tolist()
print(unique_values)

['rain', 'snow', 'partly-cloudy', 'clear', 'cloudy']

In [13]:
weather_df_allegheny2['datetime'] = pd.to_datetime(weather_df_allegheny2['datetime'])

In [14]:
print(weather_df_allegheny2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2678 entries, 0 to 2677
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          2678 non-null   object
 1   datetime      2678 non-null   datetime64[ns]
 2   tempmax       2678 non-null   float64
 3   tempmin       2678 non-null   float64
 4   temp          2678 non-null   float64
 5   feelslikemax  2678 non-null   float64
 6   feelslikemin  2678 non-null   float64
 7   feelslike     2678 non-null   float64
 8   dew           2678 non-null   float64
 9   humidity      2678 non-null   float64
 10  precip        2678 non-null   float64
 11  precipcover   2678 non-null   float64
 12  preciptype    2678 non-null   object
 13  snow          2678 non-null   float64
 14  snowdepth     2678 non-null   float64
 15  cloudcover    2678 non-null   float64
 16  uvindex       2678 non-null   int64
 17  severerisk    2678 non-null   float64
 18  moonphase     2678 non-null   float64
 19  icon          2678 non-null   object
dtypes: datetime64[ns](1), float64(15), int64(1), object(3)
memory usage: 418.6+ KB
None

In [15]:
weather_df_allegheny2

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipcover,preciptype,snow,snowdepth,cloudcover,uvindex,severerisk,moonphase,icon
0,Allegheny County,2017-01-01,43.9,31.4,37.1,40.1,29.0,33.2,28.3,71.1,0.025,12.50,"rain,snow",0.0,0.2,41.7,4,0.0,0.12,rain
1,Allegheny County,2017-01-02,46.3,37.0,42.6,43.3,33.2,38.4,38.9,87.1,0.095,29.17,rain,0.0,0.0,87.9,1,0.0,0.16,rain
2,Allegheny County,2017-01-03,48.6,42.9,45.1,46.3,37.7,41.6,42.6,91.0,0.793,70.83,rain,0.0,0.0,78.7,0,0.0,0.19,rain
3,Allegheny County,2017-01-04,44.3,21.1,33.8,37.4,8.0,23.6,23.4,67.4,0.052,29.17,"rain,snow",0.0,0.0,73.0,4,0.0,0.23,rain
4,Allegheny County,2017-01-05,22.6,19.0,20.6,20.8,7.0,11.2,11.5,68.4,0.056,25.00,snow,0.2,0.0,83.5,3,0.0,0.25,snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2673,Allegheny County,2024-04-27,79.1,53.0,65.3,79.1,53.0,65.3,50.3,60.5,0.090,25.00,rain,0.0,0.0,65.9,7,10.0,0.63,rain
2674,Allegheny County,2024-04-28,82.0,63.2,72.6,81.5,63.2,72.6,55.3,55.6,0.000,0.00,rain,0.0,0.0,47.9,10,10.0,0.67,partly-cloudy
2675,Allegheny County,2024-04-29,82.9,62.6,74.1,82.1,62.6,73.9,54.6,52.0,0.000,0.00,rain,0.0,0.0,27.2,9,10.0,0.70,partly-cloudy
2676,Allegheny County,2024-04-30,72.3,61.1,65.9,72.3,61.1,65.9,56.1,71.0,0.014,4.17,rain,0.0,0.0,68.1,6,10.0,0.74,rain
2677,Allegheny County,2024-05-01,79.9,53.7,67.5,79.9,53.7,67.5,48.6,55.4,0.000,0.00,none,0.0,0.0,16.2,8,10.0,0.75,clear

In [16]:
overdose_df = pd.read_csv('/Users/hunterberberich/Desktop/Data/OverdoseDataPA1.csv')
overdose_df

/var/folders/kp/5dkz8bcx6vx8fhrjwhg0gw0w0000gn/T/ipykernel_29043/1390839308.py:1: DtypeWarning: Columns (0,1,6,14,17,25,26,27,28,29,30,31,33,34,35,36,37,38,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  overdose_df = pd.read_csv('/Users/hunterberberich/Desktop/Data/OverdoseDataPA1.csv')

,hbkk-dwy3_version_307,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,...,geocoded_column,geocoded_column_address,geocoded_column_city,geocoded_column_zip,geocoded_column_1_city,geocoded_column_1_zip,geocoded_column_1_state,geocoded_column_1,dose_unit,geocoded_column_1_address
1,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,...,POINT (-79.986198 40.467355),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.986198 40.467355),0,NaN
2,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,...,POINT (-79.986198 40.467355),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.986198 40.467355),0,NaN
3,1,27008,0:15:00,Monday,Lackawanna,Pennsylvania,21028,Female,30 - 39,BLACK,...,POINT (-75.612183 41.439101),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-75.032709 41.332572),0,NaN
4,2,47495,21:00:00,Saturday,Adams,Pennsylvania,38590,Male,40 - 49,WHITE,...,POINT (-77.222243 39.872096),NaN,NaN,NaN,NaN,NaN,NaN,POINT (0 0),2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53933,2,39326,14:27:00,Tuesday,Cambria,Pennsylvania,31751,Male,40 - 49,BLACK,...,POINT (-78.718942 40.491275),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-78.718942 40.491275),2,NaN
53934,2,14560,16:36:00,Friday,York,Pennsylvania,11654,Male,25 - 29,WHITE,...,POINT (-76.725761 39.921925),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-76.725761 39.921925),4,NaN
53935,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,...,POINT (-79.986198 40.467355),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.986198 40.467355),0,NaN
53936,2,35341,21:58:00,Sunday,Westmoreland,Pennsylvania,28171,Male,40 - 49,WHITE,...,POINT (-79.471341 40.310315),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.471341 40.310315),2,NaN
53937,0,25135,22:00:00,Friday,Fayette,Pennsylvania,19712,Male,40 - 49,WHITE,...,POINT (-79.651896 39.919448),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.651896 39.919448),0,NaN

In [17]:
overdose_df.columns = overdose_df.iloc[0]  
overdose_df = overdose_df[1:] 
overdose_df.reset_index(drop=True, inplace=True)

In [18]:
overdose_df

,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,...,geocoded_column,geocoded_column_address,geocoded_column_city,geocoded_column_zip,geocoded_column_1_city,geocoded_column_1_zip,geocoded_column_1_state,geocoded_column_1,dose_unit,geocoded_column_1_address
0,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,...,POINT (-79.986198 40.467355),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.986198 40.467355),0,NaN
1,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,...,POINT (-79.986198 40.467355),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.986198 40.467355),0,NaN
2,1,27008,0:15:00,Monday,Lackawanna,Pennsylvania,21028,Female,30 - 39,BLACK,...,POINT (-75.612183 41.439101),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-75.032709 41.332572),0,NaN
3,2,47495,21:00:00,Saturday,Adams,Pennsylvania,38590,Male,40 - 49,WHITE,...,POINT (-77.222243 39.872096),NaN,NaN,NaN,NaN,NaN,NaN,POINT (0 0),2,NaN
4,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,...,POINT (-79.986198 40.467355),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.986198 40.467355),0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53932,2,39326,14:27:00,Tuesday,Cambria,Pennsylvania,31751,Male,40 - 49,BLACK,...,POINT (-78.718942 40.491275),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-78.718942 40.491275),2,NaN
53933,2,14560,16:36:00,Friday,York,Pennsylvania,11654,Male,25 - 29,WHITE,...,POINT (-76.725761 39.921925),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-76.725761 39.921925),4,NaN
53934,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,...,POINT (-79.986198 40.467355),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.986198 40.467355),0,NaN
53935,2,35341,21:58:00,Sunday,Westmoreland,Pennsylvania,28171,Male,40 - 49,WHITE,...,POINT (-79.471341 40.310315),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.471341 40.310315),2,NaN
53936,0,25135,22:00:00,Friday,Fayette,Pennsylvania,19712,Male,40 - 49,WHITE,...,POINT (-79.651896 39.919448),NaN,NaN,NaN,NaN,NaN,NaN,POINT (-79.651896 39.919448),0,NaN

In [19]:
overdose_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53937 entries, 0 to 53936
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   dose_count                 53937 non-null  object
 1   incident_id                53937 non-null  object
 2   incident_time              53937 non-null  object
 3   day                        53937 non-null  object
 4   incident_county_name       53937 non-null  object
 5   incident_state             53937 non-null  object
 6   victim_id                  53937 non-null  object
 7   gender_desc                53937 non-null  object
 8   age_range                  53937 non-null  object
 9   race                       53937 non-null  object
 10  ethnicity_desc             53937 non-null  object
 11  victim_state               48246 non-null  object
 12  victim_county              48246 non-null  object
 13  accidental_exposure        53937 non-null  object
 14  victim_od_drug_id          53937 non-null  object
 15  susp_od_drug_desc          53937 non-null  object
 16  naloxone_administered      53937 non-null  object
 17  administration_id          53937 non-null  object
 18  incident_date              53937 non-null  object
 19  dose_desc                  35252 non-null  object
 20  response_time_desc         32434 non-null  object
 21  survive                    53937 non-null  object
 22  response_desc              35274 non-null  object
 23  revive_action_desc         32434 non-null  object
 24  third_party_admin_desc     15230 non-null  object
 25  incident_county_fips_code  53937 non-null  object
 26  incident_county_lat        53937 non-null  object
 27  incident_county_long       53937 non-null  object
 28  victim_county_fips_code    48246 non-null  object
 29  victim_county_lat          53937 non-null  object
 30  victim_county_long         53937 non-null  object
 31  geocoded_column_state      0 non-null      object
 32  geocoded_column            53937 non-null  object
 33  geocoded_column_address    0 non-null      object
 34  geocoded_column_city       0 non-null      object
 35  geocoded_column_zip        0 non-null      object
 36  geocoded_column_1_city     0 non-null      object
 37  geocoded_column_1_zip      0 non-null      object
 38  geocoded_column_1_state    0 non-null      object
 39  geocoded_column_1          53937 non-null  object
 40  dose_unit                  53937 non-null  object
 41  geocoded_column_1_address  0 non-null      object
dtypes: object(42)
memory usage: 17.3+ MB

In [20]:
overdose_df2 = overdose_df.drop(overdose_df.columns[31:40], axis=1)

In [21]:
overdose_df2

,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,...,revive_action_desc,third_party_admin_desc,incident_county_fips_code,incident_county_lat,incident_county_long,victim_county_fips_code,victim_county_lat,victim_county_long,dose_unit,geocoded_column_1_address
0,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,...,NaN,NaN,3,40.467355,-79.986198,3,40.467355,-79.986198,0,NaN
1,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,...,HOSPITAL CONSCIOUS,GOOD SAMARITAN,3,40.467355,-79.986198,3,40.467355,-79.986198,0,NaN
2,1,27008,0:15:00,Monday,Lackawanna,Pennsylvania,21028,Female,30 - 39,BLACK,...,REFUSED TRANSPORT,GOOD SAMARITAN,69,41.439101,-75.612183,103,41.332572,-75.032709,0,NaN
3,2,47495,21:00:00,Saturday,Adams,Pennsylvania,38590,Male,40 - 49,WHITE,...,TRANSPORTED TO TREATMENT,EMS,1,39.872096,-77.222243,NaN,0,0,2,NaN
4,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,...,HOSPITAL UNCONSCIOUS,FIRE DEPARTMENT,3,40.467355,-79.986198,3,40.467355,-79.986198,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53932,2,39326,14:27:00,Tuesday,Cambria,Pennsylvania,31751,Male,40 - 49,BLACK,...,NaN,NaN,21,40.491275,-78.718942,21.0,40.491275,-78.718942,2,NaN
53933,2,14560,16:36:00,Friday,York,Pennsylvania,11654,Male,25 - 29,WHITE,...,REFUSED TRANSPORT,NaN,133,39.921925,-76.725761,133.0,39.921925,-76.725761,4,NaN
53934,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,...,HOSPITAL CONSCIOUS,GOOD SAMARITAN,3,40.467355,-79.986198,3.0,40.467355,-79.986198,0,NaN
53935,2,35341,21:58:00,Sunday,Westmoreland,Pennsylvania,28171,Male,40 - 49,WHITE,...,HOSPITAL CONSCIOUS,EMS,129,40.310315,-79.471341,129.0,40.310315,-79.471341,2,NaN
53936,0,25135,22:00:00,Friday,Fayette,Pennsylvania,19712,Male,40 - 49,WHITE,...,NaN,NaN,51,39.919448,-79.651896,51.0,39.919448,-79.651896,0,NaN

In [29]:
overdose_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53937 entries, 0 to 53936
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   dose_count                 53937 non-null  object
 1   incident_id                53937 non-null  object
 2   incident_time              53937 non-null  object
 3   day                        53937 non-null  object
 4   incident_county_name       53937 non-null  object
 5   incident_state             53937 non-null  object
 6   victim_id                  53937 non-null  object
 7   gender_desc                53937 non-null  object
 8   age_range                  53937 non-null  object
 9   race                       53937 non-null  object
 10  ethnicity_desc             53937 non-null  object
 11  victim_state               48246 non-null  object
 12  victim_county              48246 non-null  object
 13  accidental_exposure        53937 non-null  object
 14  victim_od_drug_id          53937 non-null  object
 15  susp_od_drug_desc          53937 non-null  object
 16  naloxone_administered      53937 non-null  object
 17  administration_id          53937 non-null  object
 18  dose_desc                  35252 non-null  object
 19  response_time_desc         32434 non-null  object
 20  survive                    53937 non-null  object
 21  response_desc              35274 non-null  object
 22  revive_action_desc         32434 non-null  object
 23  third_party_admin_desc     15230 non-null  object
 24  incident_county_fips_code  53937 non-null  object
 25  incident_county_lat        53937 non-null  object
 26  incident_county_long       53937 non-null  object
 27  victim_county_fips_code    48246 non-null  object
 28  victim_county_lat          53937 non-null  object
 29  victim_county_long         53937 non-null  object
 30  dose_unit                  53937 non-null  object
 31  geocoded_column_1_address  0 non-null      object
dtypes: object(32)
memory usage: 13.2+ MB

In [37]:
overdose_df4 = overdose_df.drop(overdose_df.columns[31:40], axis=1)

In [38]:
overdose_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53937 entries, 0 to 53936
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   dose_count                 53937 non-null  object
 1   incident_id                53937 non-null  object
 2   incident_time              53937 non-null  object
 3   day                        53937 non-null  object
 4   incident_county_name       53937 non-null  object
 5   incident_state             53937 non-null  object
 6   victim_id                  53937 non-null  object
 7   gender_desc                53937 non-null  object
 8   age_range                  53937 non-null  object
 9   race                       53937 non-null  object
 10  ethnicity_desc             53937 non-null  object
 11  victim_state               48246 non-null  object
 12  victim_county              48246 non-null  object
 13  accidental_exposure        53937 non-null  object
 14  victim_od_drug_id          53937 non-null  object
 15  susp_od_drug_desc          53937 non-null  object
 16  naloxone_administered      53937 non-null  object
 17  administration_id          53937 non-null  object
 18  incident_date              53937 non-null  object
 19  dose_desc                  35252 non-null  object
 20  response_time_desc         32434 non-null  object
 21  survive                    53937 non-null  object
 22  response_desc              35274 non-null  object
 23  revive_action_desc         32434 non-null  object
 24  third_party_admin_desc     15230 non-null  object
 25  incident_county_fips_code  53937 non-null  object
 26  incident_county_lat        53937 non-null  object
 27  incident_county_long       53937 non-null  object
 28  victim_county_fips_code    48246 non-null  object
 29  victim_county_lat          53937 non-null  object
 30  victim_county_long         53937 non-null  object
 31  dose_unit                  53937 non-null  object
 32  geocoded_column_1_address  0 non-null      object
dtypes: object(33)
memory usage: 13.6+ MB

In [39]:
overdose_df5 = overdose_df4.drop(overdose_df4.columns[25:31], axis=1)
overdose_df5

,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,...,administration_id,incident_date,dose_desc,response_time_desc,survive,response_desc,revive_action_desc,third_party_admin_desc,dose_unit,geocoded_column_1_address
0,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,...,26096,3/7/2018,UNKNOWN,NaN,N,NO RESPONSE TO NALOXONE,NaN,NaN,0,NaN
1,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,...,26073,4/22/2023,UNKNOWN,1-3 MINUTES,U,RESPONSIVE BUT SEDATED,HOSPITAL CONSCIOUS,GOOD SAMARITAN,0,NaN
2,1,27008,0:15:00,Monday,Lackawanna,Pennsylvania,21028,Female,30 - 39,BLACK,...,26027,8/2/2021,UNKNOWN,1-3 MINUTES,Y,RESPONSIVE AND ALERT,REFUSED TRANSPORT,GOOD SAMARITAN,0,NaN
3,2,47495,21:00:00,Saturday,Adams,Pennsylvania,38590,Male,40 - 49,WHITE,...,26115,3/23/2024,MG,3-5 MINUTES,Y,RESPONSIVE BUT SEDATED,TRANSPORTED TO TREATMENT,EMS,2,NaN
4,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,...,26029,5/26/2021,UNKNOWN,1-3 MINUTES,U,UNKNOWN,HOSPITAL UNCONSCIOUS,FIRE DEPARTMENT,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53932,2,39326,14:27:00,Tuesday,Cambria,Pennsylvania,31751,Male,40 - 49,BLACK,...,21291,4/25/2023,MG,NaN,N,NO RESPONSE TO NALOXONE,NaN,NaN,2,NaN
53933,2,14560,16:36:00,Friday,York,Pennsylvania,11654,Male,25 - 29,WHITE,...,7915,1/24/2020,MG,1-3 MINUTES,Y,COMBATIVE,REFUSED TRANSPORT,NaN,4,NaN
53934,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,...,6642,9/30/2019,UNKNOWN,DON'T KNOW,Y,RESPONSIVE AND ALERT,HOSPITAL CONSCIOUS,GOOD SAMARITAN,0,NaN
53935,2,35341,21:58:00,Sunday,Westmoreland,Pennsylvania,28171,Male,40 - 49,WHITE,...,19125,11/27/2022,MG,>5 MINUTES,Y,RESPONSIVE AND ALERT,HOSPITAL CONSCIOUS,EMS,2,NaN
53936,0,25135,22:00:00,Friday,Fayette,Pennsylvania,19712,Male,40 - 49,WHITE,...,0,4/2/2021,NaN,NaN,Y,NaN,NaN,NaN,0,NaN

In [34]:
overdose_df3 = overdose_df3.drop(overdose_df3.columns[28], axis=1)

In [35]:
overdose_df3

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[53937 rows x 0 columns]

In [40]:
overdose_df6 = overdose_df5.drop(overdose_df5.columns[-1], axis=1)
overdose_df6

,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,...,naloxone_administered,administration_id,incident_date,dose_desc,response_time_desc,survive,response_desc,revive_action_desc,third_party_admin_desc,dose_unit
0,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,...,Y,26096,3/7/2018,UNKNOWN,NaN,N,NO RESPONSE TO NALOXONE,NaN,NaN,0
1,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,...,Y,26073,4/22/2023,UNKNOWN,1-3 MINUTES,U,RESPONSIVE BUT SEDATED,HOSPITAL CONSCIOUS,GOOD SAMARITAN,0
2,1,27008,0:15:00,Monday,Lackawanna,Pennsylvania,21028,Female,30 - 39,BLACK,...,Y,26027,8/2/2021,UNKNOWN,1-3 MINUTES,Y,RESPONSIVE AND ALERT,REFUSED TRANSPORT,GOOD SAMARITAN,0
3,2,47495,21:00:00,Saturday,Adams,Pennsylvania,38590,Male,40 - 49,WHITE,...,Y,26115,3/23/2024,MG,3-5 MINUTES,Y,RESPONSIVE BUT SEDATED,TRANSPORTED TO TREATMENT,EMS,2
4,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,...,Y,26029,5/26/2021,UNKNOWN,1-3 MINUTES,U,UNKNOWN,HOSPITAL UNCONSCIOUS,FIRE DEPARTMENT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53932,2,39326,14:27:00,Tuesday,Cambria,Pennsylvania,31751,Male,40 - 49,BLACK,...,Y,21291,4/25/2023,MG,NaN,N,NO RESPONSE TO NALOXONE,NaN,NaN,2
53933,2,14560,16:36:00,Friday,York,Pennsylvania,11654,Male,25 - 29,WHITE,...,Y,7915,1/24/2020,MG,1-3 MINUTES,Y,COMBATIVE,REFUSED TRANSPORT,NaN,4
53934,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,...,Y,6642,9/30/2019,UNKNOWN,DON'T KNOW,Y,RESPONSIVE AND ALERT,HOSPITAL CONSCIOUS,GOOD SAMARITAN,0
53935,2,35341,21:58:00,Sunday,Westmoreland,Pennsylvania,28171,Male,40 - 49,WHITE,...,Y,19125,11/27/2022,MG,>5 MINUTES,Y,RESPONSIVE AND ALERT,HOSPITAL CONSCIOUS,EMS,2
53936,0,25135,22:00:00,Friday,Fayette,Pennsylvania,19712,Male,40 - 49,WHITE,...,N,0,4/2/2021,NaN,NaN,Y,NaN,NaN,NaN,0

In [41]:
overdose_df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53937 entries, 0 to 53936
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   dose_count              53937 non-null  object
 1   incident_id             53937 non-null  object
 2   incident_time           53937 non-null  object
 3   day                     53937 non-null  object
 4   incident_county_name    53937 non-null  object
 5   incident_state          53937 non-null  object
 6   victim_id               53937 non-null  object
 7   gender_desc             53937 non-null  object
 8   age_range               53937 non-null  object
 9   race                    53937 non-null  object
 10  ethnicity_desc          53937 non-null  object
 11  victim_state            48246 non-null  object
 12  victim_county           48246 non-null  object
 13  accidental_exposure     53937 non-null  object
 14  victim_od_drug_id       53937 non-null  object
 15  susp_od_drug_desc       53937 non-null  object
 16  naloxone_administered   53937 non-null  object
 17  administration_id       53937 non-null  object
 18  incident_date           53937 non-null  object
 19  dose_desc               35252 non-null  object
 20  response_time_desc      32434 non-null  object
 21  survive                 53937 non-null  object
 22  response_desc           35274 non-null  object
 23  revive_action_desc      32434 non-null  object
 24  third_party_admin_desc  15230 non-null  object
 25  dose_unit               53937 non-null  object
dtypes: object(26)
memory usage: 10.7+ MB

In [43]:
columns_to_drop2 = ['response_desc', 'revive_action_desc', 'third_party_admin_desc', 'victim_state', 'victim_county', 'dose_desc','response_time_desc']
overdose_df7 = overdose_df6.drop(columns=columns_to_drop2)
overdose_df7

,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,ethnicity_desc,accidental_exposure,victim_od_drug_id,susp_od_drug_desc,naloxone_administered,administration_id,incident_date,survive,dose_unit
0,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,Unknown,N,155,HEROIN,Y,26096,3/7/2018,N,0
1,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,Unknown,N,45381,HEROIN,Y,26073,4/22/2023,U,0
2,1,27008,0:15:00,Monday,Lackawanna,Pennsylvania,21028,Female,30 - 39,BLACK,NON-HISPANIC OR NOT LATINO,N,29279,HEROIN,Y,26027,8/2/2021,Y,0
3,2,47495,21:00:00,Saturday,Adams,Pennsylvania,38590,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,55871,UNKNOWN,Y,26115,3/23/2024,Y,2
4,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,NON-HISPANIC OR NOT LATINO,N,27836,HEROIN,Y,26029,5/26/2021,U,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53932,2,39326,14:27:00,Tuesday,Cambria,Pennsylvania,31751,Male,40 - 49,BLACK,NON-HISPANIC OR NOT LATINO,N,45525,HEROIN,Y,21291,4/25/2023,N,2
53933,2,14560,16:36:00,Friday,York,Pennsylvania,11654,Male,25 - 29,WHITE,NON-HISPANIC OR NOT LATINO,N,15624,FENTANYL,Y,7915,1/24/2020,Y,4
53934,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,12964,HEROIN,Y,6642,9/30/2019,Y,0
53935,2,35341,21:58:00,Sunday,Westmoreland,Pennsylvania,28171,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,39986,HEROIN,Y,19125,11/27/2022,Y,2
53936,0,25135,22:00:00,Friday,Fayette,Pennsylvania,19712,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,27300,HEROIN,N,0,4/2/2021,Y,0

In [44]:
overdose_df7['incident_date'] = pd.to_datetime(overdose_df7['incident_date'], errors='coerce')

In [45]:
incident_date_column = overdose_df7.pop('incident_date')
overdose_df7.insert(0, 'incident_date', incident_date_column)
overdose_df7

,incident_date,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,ethnicity_desc,accidental_exposure,victim_od_drug_id,susp_od_drug_desc,naloxone_administered,administration_id,survive,dose_unit
0,2018-03-07,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,Unknown,N,155,HEROIN,Y,26096,N,0
1,2023-04-22,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,Unknown,N,45381,HEROIN,Y,26073,U,0
2,2021-08-02,1,27008,0:15:00,Monday,Lackawanna,Pennsylvania,21028,Female,30 - 39,BLACK,NON-HISPANIC OR NOT LATINO,N,29279,HEROIN,Y,26027,Y,0
3,2024-03-23,2,47495,21:00:00,Saturday,Adams,Pennsylvania,38590,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,55871,UNKNOWN,Y,26115,Y,2
4,2021-05-26,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,NON-HISPANIC OR NOT LATINO,N,27836,HEROIN,Y,26029,U,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53932,2023-04-25,2,39326,14:27:00,Tuesday,Cambria,Pennsylvania,31751,Male,40 - 49,BLACK,NON-HISPANIC OR NOT LATINO,N,45525,HEROIN,Y,21291,N,2
53933,2020-01-24,2,14560,16:36:00,Friday,York,Pennsylvania,11654,Male,25 - 29,WHITE,NON-HISPANIC OR NOT LATINO,N,15624,FENTANYL,Y,7915,Y,4
53934,2019-09-30,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,12964,HEROIN,Y,6642,Y,0
53935,2022-11-27,2,35341,21:58:00,Sunday,Westmoreland,Pennsylvania,28171,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,39986,HEROIN,Y,19125,Y,2
53936,2021-04-02,0,25135,22:00:00,Friday,Fayette,Pennsylvania,19712,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,27300,HEROIN,N,0,Y,0

In [46]:
overdose_df7['race'].unique()

array(['WHITE', 'BLACK', 'UNKNOWN', 'ASIAN', 'AMERICAN INDIAN'],
      dtype=object)

In [47]:
df_allegheny = overdose_df7[overdose_df7['incident_county_name'] == 'Allegheny']
df_allegheny

,incident_date,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,ethnicity_desc,accidental_exposure,victim_od_drug_id,susp_od_drug_desc,naloxone_administered,administration_id,survive,dose_unit
0,2018-03-07,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,Unknown,N,155,HEROIN,Y,26096,N,0
1,2023-04-22,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,Unknown,N,45381,HEROIN,Y,26073,U,0
4,2021-05-26,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,NON-HISPANIC OR NOT LATINO,N,27836,HEROIN,Y,26029,U,0
6,2018-08-03,1,3984,0:02:00,Friday,Allegheny,Pennsylvania,3252,Male,50 - 59,WHITE,Unknown,N,4195,HEROIN,Y,26072,N,0
22,2023-09-04,0,42561,8:00:00,Monday,Allegheny,Pennsylvania,34747,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,50059,HEROIN,N,0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53897,2021-07-24,2,26867,0:00:00,Saturday,Allegheny,Pennsylvania,20932,Female,20 - 24,WHITE,NON-HISPANIC OR NOT LATINO,N,29135,UNKNOWN,Y,14698,Y,4
53904,2023-05-08,2,39762,23:00:00,Monday,Allegheny,Pennsylvania,32155,Male,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,46153,FENTANYL,Y,21537,Y,4
53918,2021-02-20,0,23593,1:00:00,Saturday,Allegheny,Pennsylvania,18642,Male,25 - 29,WHITE,NON-HISPANIC OR NOT LATINO,N,25615,ALCOHOL,N,0,Y,0
53929,2023-04-16,1,39064,21:16:00,Sunday,Allegheny,Pennsylvania,31523,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,45151,HEROIN,Y,21138,Y,4
53934,2019-09-30,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,12964,HEROIN,Y,6642,Y,0

In [48]:
df_allegheny['susp_od_drug_desc'].unique()

array(['HEROIN', 'FENTANYL', 'PHARMACEUTICAL OTHER', 'UNKNOWN',
       'MARIJUANA', 'CARFENTANIL',
       'FENTANYL ANALOG/OTHER SYNTHETIC OPIOID', 'METHADONE', 'ALCOHOL',
       'OTHER', 'BENZODIAZEPINES (I.E.VALIUM, XANAX, ATIVAN, ETC)',
       'COCAINE/CRACK', 'PHARMACEUTICAL OPIOID', 'METHAMPHETAMINE',
       'SYNTHETIC MARIJUANA', 'PHARMACEUTICAL STIMULANT',
       'BARBITURATES (I.E. AMYTAL, NEMBUTAL, ETC)',
       'BUPRENORPHINE (I.E. SUBOXONE, SUBLOCADE, SUBUTEX, BUTRANS, BUPRENEX, ETC)',
       'XYLAZINE', 'BATH SALTS'], dtype=object)

In [49]:
opioid_related = [
    'HEROIN', 'FENTANYL', 'CARFENTANIL',
    'FENTANYL ANALOG/OTHER SYNTHETIC OPIOID', 'METHADONE',
    'PHARMACEUTICAL OPIOID',
    'BUPRENORPHINE (I.E. SUBOXONE, SUBLOCADE, SUBUTEX, BUTRANS, BUPRENEX, ETC)']

In [50]:
overdose_cleaned = df_allegheny[df_allegheny['susp_od_drug_desc'].isin(opioid_related)]
overdose_cleaned

,incident_date,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,ethnicity_desc,accidental_exposure,victim_od_drug_id,susp_od_drug_desc,naloxone_administered,administration_id,survive,dose_unit
0,2018-03-07,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,Unknown,N,155,HEROIN,Y,26096,N,0
1,2023-04-22,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,Unknown,N,45381,HEROIN,Y,26073,U,0
4,2021-05-26,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,NON-HISPANIC OR NOT LATINO,N,27836,HEROIN,Y,26029,U,0
6,2018-08-03,1,3984,0:02:00,Friday,Allegheny,Pennsylvania,3252,Male,50 - 59,WHITE,Unknown,N,4195,HEROIN,Y,26072,N,0
22,2023-09-04,0,42561,8:00:00,Monday,Allegheny,Pennsylvania,34747,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,50059,HEROIN,N,0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53879,2023-06-20,0,40768,17:08:00,Tuesday,Allegheny,Pennsylvania,33077,Male,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,47582,HEROIN,N,0,Y,0
53891,2023-02-17,2,37405,16:00:00,Friday,Allegheny,Pennsylvania,30037,Male,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,42881,HEROIN,Y,20253,Y,4
53904,2023-05-08,2,39762,23:00:00,Monday,Allegheny,Pennsylvania,32155,Male,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,46153,FENTANYL,Y,21537,Y,4
53929,2023-04-16,1,39064,21:16:00,Sunday,Allegheny,Pennsylvania,31523,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,45151,HEROIN,Y,21138,Y,4
53934,2019-09-30,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,12964,HEROIN,Y,6642,Y,0

In [51]:
overdose_cleaned = overdose_cleaned.rename(columns={'incident_date': 'date'})
overdose_cleaned

,date,dose_count,incident_id,incident_time,day,incident_county_name,incident_state,victim_id,gender_desc,age_range,race,ethnicity_desc,accidental_exposure,victim_od_drug_id,susp_od_drug_desc,naloxone_administered,administration_id,survive,dose_unit
0,2018-03-07,1,184,13:52:00,Wednesday,Allegheny,Pennsylvania,124,Female,20 - 24,WHITE,Unknown,N,155,HEROIN,Y,26096,N,0
1,2023-04-22,2,39237,4:13:00,Saturday,Allegheny,Pennsylvania,31680,Female,50 - 59,WHITE,Unknown,N,45381,HEROIN,Y,26073,U,0
4,2021-05-26,1,25677,17:30:00,Wednesday,Allegheny,Pennsylvania,20086,Male,50 - 59,WHITE,NON-HISPANIC OR NOT LATINO,N,27836,HEROIN,Y,26029,U,0
6,2018-08-03,1,3984,0:02:00,Friday,Allegheny,Pennsylvania,3252,Male,50 - 59,WHITE,Unknown,N,4195,HEROIN,Y,26072,N,0
22,2023-09-04,0,42561,8:00:00,Monday,Allegheny,Pennsylvania,34747,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,50059,HEROIN,N,0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53879,2023-06-20,0,40768,17:08:00,Tuesday,Allegheny,Pennsylvania,33077,Male,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,47582,HEROIN,N,0,Y,0
53891,2023-02-17,2,37405,16:00:00,Friday,Allegheny,Pennsylvania,30037,Male,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,42881,HEROIN,Y,20253,Y,4
53904,2023-05-08,2,39762,23:00:00,Monday,Allegheny,Pennsylvania,32155,Male,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,46153,FENTANYL,Y,21537,Y,4
53929,2023-04-16,1,39064,21:16:00,Sunday,Allegheny,Pennsylvania,31523,Male,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,45151,HEROIN,Y,21138,Y,4
53934,2019-09-30,1,12293,21:30:00,Monday,Allegheny,Pennsylvania,9750,Female,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,12964,HEROIN,Y,6642,Y,0

In [52]:
weather_df_allegheny2 = weather_df_allegheny2.rename(columns={'datetime': 'date'})
weather_df_allegheny2

,name,date,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipcover,preciptype,snow,snowdepth,cloudcover,uvindex,severerisk,moonphase,icon
0,Allegheny County,2017-01-01,43.9,31.4,37.1,40.1,29.0,33.2,28.3,71.1,0.025,12.50,"rain,snow",0.0,0.2,41.7,4,0.0,0.12,rain
1,Allegheny County,2017-01-02,46.3,37.0,42.6,43.3,33.2,38.4,38.9,87.1,0.095,29.17,rain,0.0,0.0,87.9,1,0.0,0.16,rain
2,Allegheny County,2017-01-03,48.6,42.9,45.1,46.3,37.7,41.6,42.6,91.0,0.793,70.83,rain,0.0,0.0,78.7,0,0.0,0.19,rain
3,Allegheny County,2017-01-04,44.3,21.1,33.8,37.4,8.0,23.6,23.4,67.4,0.052,29.17,"rain,snow",0.0,0.0,73.0,4,0.0,0.23,rain
4,Allegheny County,2017-01-05,22.6,19.0,20.6,20.8,7.0,11.2,11.5,68.4,0.056,25.00,snow,0.2,0.0,83.5,3,0.0,0.25,snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2673,Allegheny County,2024-04-27,79.1,53.0,65.3,79.1,53.0,65.3,50.3,60.5,0.090,25.00,rain,0.0,0.0,65.9,7,10.0,0.63,rain
2674,Allegheny County,2024-04-28,82.0,63.2,72.6,81.5,63.2,72.6,55.3,55.6,0.000,0.00,rain,0.0,0.0,47.9,10,10.0,0.67,partly-cloudy
2675,Allegheny County,2024-04-29,82.9,62.6,74.1,82.1,62.6,73.9,54.6,52.0,0.000,0.00,rain,0.0,0.0,27.2,9,10.0,0.70,partly-cloudy
2676,Allegheny County,2024-04-30,72.3,61.1,65.9,72.3,61.1,65.9,56.1,71.0,0.014,4.17,rain,0.0,0.0,68.1,6,10.0,0.74,rain
2677,Allegheny County,2024-05-01,79.9,53.7,67.5,79.9,53.7,67.5,48.6,55.4,0.000,0.00,none,0.0,0.0,16.2,8,10.0,0.75,clear

In [53]:
date_column = weather_df_allegheny2.pop('date')
weather_df_allegheny2.insert(0, 'date', date_column)

In [54]:
weather_df_allegheny2

,date,name,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipcover,preciptype,snow,snowdepth,cloudcover,uvindex,severerisk,moonphase,icon
0,2017-01-01,Allegheny County,43.9,31.4,37.1,40.1,29.0,33.2,28.3,71.1,0.025,12.50,"rain,snow",0.0,0.2,41.7,4,0.0,0.12,rain
1,2017-01-02,Allegheny County,46.3,37.0,42.6,43.3,33.2,38.4,38.9,87.1,0.095,29.17,rain,0.0,0.0,87.9,1,0.0,0.16,rain
2,2017-01-03,Allegheny County,48.6,42.9,45.1,46.3,37.7,41.6,42.6,91.0,0.793,70.83,rain,0.0,0.0,78.7,0,0.0,0.19,rain
3,2017-01-04,Allegheny County,44.3,21.1,33.8,37.4,8.0,23.6,23.4,67.4,0.052,29.17,"rain,snow",0.0,0.0,73.0,4,0.0,0.23,rain
4,2017-01-05,Allegheny County,22.6,19.0,20.6,20.8,7.0,11.2,11.5,68.4,0.056,25.00,snow,0.2,0.0,83.5,3,0.0,0.25,snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2673,2024-04-27,Allegheny County,79.1,53.0,65.3,79.1,53.0,65.3,50.3,60.5,0.090,25.00,rain,0.0,0.0,65.9,7,10.0,0.63,rain
2674,2024-04-28,Allegheny County,82.0,63.2,72.6,81.5,63.2,72.6,55.3,55.6,0.000,0.00,rain,0.0,0.0,47.9,10,10.0,0.67,partly-cloudy
2675,2024-04-29,Allegheny County,82.9,62.6,74.1,82.1,62.6,73.9,54.6,52.0,0.000,0.00,rain,0.0,0.0,27.2,9,10.0,0.70,partly-cloudy
2676,2024-04-30,Allegheny County,72.3,61.1,65.9,72.3,61.1,65.9,56.1,71.0,0.014,4.17,rain,0.0,0.0,68.1,6,10.0,0.74,rain
2677,2024-05-01,Allegheny County,79.9,53.7,67.5,79.9,53.7,67.5,48.6,55.4,0.000,0.00,none,0.0,0.0,16.2,8,10.0,0.75,clear

In [55]:
merged_df = pd.merge(weather_df_allegheny2, overdose_cleaned, on='date', how='inner')
merged_df

,date,name,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,age_range,race,ethnicity_desc,accidental_exposure,victim_od_drug_id,susp_od_drug_desc,naloxone_administered,administration_id,survive,dose_unit
0,2018-01-07,Allegheny County,26.2,-4.2,10.1,18.1,-16.6,0.6,-3.8,57.2,...,30 - 39,BLACK,Unknown,N,3288,HEROIN,N,0,Y,0
1,2018-01-09,Allegheny County,35.8,28.0,32.5,34.7,24.1,26.8,26.6,78.9,...,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,527,HEROIN,Y,244,Y,0
2,2018-01-14,Allegheny County,15.3,2.5,9.2,14.6,-6.0,3.5,0.5,68.0,...,40 - 49,WHITE,NON-HISPANIC OR NOT LATINO,N,800,HEROIN,Y,454,Y,0
3,2018-01-14,Allegheny County,15.3,2.5,9.2,14.6,-6.0,3.5,0.5,68.0,...,20 - 24,WHITE,NON-HISPANIC OR NOT LATINO,N,804,HEROIN,Y,457,Y,0
4,2018-01-14,Allegheny County,15.3,2.5,9.2,14.6,-6.0,3.5,0.5,68.0,...,30 - 39,WHITE,NON-HISPANIC OR NOT LATINO,N,799,HEROIN,Y,452,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5308,2024-04-13,Allegheny County,59.2,44.5,51.1,59.2,37.4,47.9,33.0,51.5,...,20 - 24,WHITE,NON-HISPANIC OR NOT LATINO,N,55826,HEROIN,Y,25971,Y,4
5309,2024-04-13,Allegheny County,59.2,44.5,51.1,59.2,37.4,47.9,33.0,51.5,...,20 - 24,WHITE,NON-HISPANIC OR NOT LATINO,N,55825,FENTANYL,Y,25971,Y,4
5310,2024-04-13,Allegheny County,59.2,44.5,51.1,59.2,37.4,47.9,33.0,51.5,...,20 - 24,WHITE,NON-HISPANIC OR NOT LATINO,N,55825,FENTANYL,Y,25972,Y,4
5311,2024-04-14,Allegheny County,81.1,45.0,64.1,79.9,39.9,62.9,39.5,42.6,...,20 - 24,WHITE,NON-HISPANIC OR NOT LATINO,N,55849,HEROIN,Y,25981,Y,4
5312,2024-04-14,Allegheny County,81.1,45.0,64.1,79.9,39.9,62.9,39.5,42.6,...,30 - 39,BLACK,NON-HISPANIC OR NOT LATINO,N,55827,HEROIN,Y,25973,U,4

In [56]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5313 entries, 0 to 5312
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   5313 non-null   datetime64[ns]
 1   name                   5313 non-null   object
 2   tempmax                5313 non-null   float64
 3   tempmin                5313 non-null   float64
 4   temp                   5313 non-null   float64
 5   feelslikemax           5313 non-null   float64
 6   feelslikemin           5313 non-null   float64
 7   feelslike              5313 non-null   float64
 8   dew                    5313 non-null   float64
 9   humidity               5313 non-null   float64
 10  precip                 5313 non-null   float64
 11  precipcover            5313 non-null   float64
 12  preciptype             5313 non-null   object
 13  snow                   5313 non-null   float64
 14  snowdepth              5313 non-null   float64
 15  cloudcover             5313 non-null   float64
 16  uvindex                5313 non-null   int64
 17  severerisk             5313 non-null   float64
 18  moonphase              5313 non-null   float64
 19  icon                   5313 non-null   object
 20  dose_count             5313 non-null   object
 21  incident_id            5313 non-null   object
 22  incident_time          5313 non-null   object
 23  day                    5313 non-null   object
 24  incident_county_name   5313 non-null   object
 25  incident_state         5313 non-null   object
 26  victim_id              5313 non-null   object
 27  gender_desc            5313 non-null   object
 28  age_range              5313 non-null   object
 29  race                   5313 non-null   object
 30  ethnicity_desc         5313 non-null   object
 31  accidental_exposure    5313 non-null   object
 32  victim_od_drug_id      5313 non-null   object
 33  susp_od_drug_desc      5313 non-null   object
 34  naloxone_administered  5313 non-null   object
 35  administration_id      5313 non-null   object
 36  survive                5313 non-null   object
 37  dose_unit              5313 non-null   object
dtypes: datetime64[ns](1), float64(15), int64(1), object(21)
memory usage: 1.5+ MB

In [57]:
merged_df.to_csv('merged_df.csv', index=False)

In [58]:
data_path = os.path.join(os.path.expanduser("~"), "Desktop", "merged_df.csv")

In [60]:
merged_df.to_csv(data_path, index=False)